# Ignore nested Git repositories
/backend/.giit
/frontend/.giit

# Laravel
/backend/vendor
/backend/storage
/backend/.env

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env

# Common
.DS_Store
*.log
prompt.txt
